.whats-new-drawer {
  @include gl-shadow-none;
  overflow-y: hidden;
  width: 500px;

  .gl-infinite-scroll-legend {
    display: none;
  }

  .gl-tabs {
    overflow-y: auto;
  }

  .gl-tabs-nav {
    flex-wrap: nowrap;
    overflow-x: scroll;
    align-items: stretch;

    .nav-item {
      @include gl-flex-shrink-0;

      a {
        height: 100%;
        line-height: 1.5;
      }
    }
  }

  .gl-spinner-container {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.whats-new-item-title-link {
  &:hover,
  &:focus,
  &:active {
    @include gl-text-gray-900;
  }
}

.whats-new-item-image {
  border-color: $gray-50;
  height: 250px;
}

.whats-new-modal-backdrop {
  z-index: 699;
}
